<header id="navigation">
  <a
    href="/"
    class=""
    aria-label="home page"
  >
    <div 
      class="h-8 w-8 rounded-full bg-[#ed312a] hover:scale-125 duration-300 ease-in-out"
      aria-hidden="true"
    ></div>
  </a>
  <nav role="navigation">
    <ul id="nav-menu">
      <li>
        <a href="/About" class="hover:text-[var(--text-primary)] duration-300 ease-in-out">About</a>
      </li>
      <li>
        <a href="/Musings" class="hover:text-[var(--text-primary)] duration-300 ease-in-out">Musings</a>
      </li>
      <li>
        <a href="/Journal" class="hover:text-[var(--text-primary)] duration-300 ease-in-out">Journal</a>
      </li>
    </ul>
  </nav>

  <!-- mobile nav btn-->
  <button 
    id="mobile-menu-toggle"
    aria-expanded="false"
    aria-controls="nav-menu"
    aria-label="mobile-menu-toggle"
  >
    <div class="bar1" aria-hidden="true"></div>
    <div class="bar2" aria-hidden="true"></div>
    <div class="bar3" aria-hidden="true"></div>
  </button>
</header>