
<section class="h-screen main-container grid content-center gap-4">
    <h1 class="text-7xl md:text-[120px] lg:text-[180px]" style="font-family:'Anurati'; md:letter-spacing:-10px;">FANGO<br>JETT</h1>
    <p class="md:w-4/6">
        A performance-focused Front-End Development template for building fast websites.
    </p>
</section>